# ---------- Python ----------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ---------- Base de datos ----------
bancat.db
*.sqlite
*.sqlite3
*.db-journal

# ---------- Entorno / secretos ----------
.env
.env.*
!.env.example

# ---------- Editores / SO ----------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# ---------- Logs ----------
*.log
